body {
    background-color: rgb(231, 165, 186);
    font-family: 'Dancing Script', cursive;
    font-family: 'Marck Script', cursive;
    color: rgb(71, 14, 34);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}
.Card {
    border: 1px solid rgb(136, 16, 90);
    padding: 0px;
    width: 375px;
    margin: 8px;
    text-align: center;
    box-shadow: 1px 2px 2px 2px;
    background-color: rgb(233, 127, 160);
    border-radius: 25px;
    margin-bottom: 15px;
}
.Card:hover {
    transform: scale(1.1);
}


.specifications {
    font-weight: bold;
    font-size: 18px;
}

.price {
    font-weight: bold;
    font-size: 18px;   
}
.availability {
    background-color: rgb(170, 134, 152);
    margin: auto;
    padding: 1%;
    font-size: 18px;    
}

h2 { 
    text-align: center;
    font-size-adjust: 18px;
}

img { 
    border-radius: 20px;
    width: 220px;
    margin: auto;
    display: block;
}

.Parent {
position: relative;
top: 0;
left: 0;
}

.Image1 {
position: relative;
top: 0;
left: 0;
}

.Image2 {
position: absolute;
size: 100px;
top: 0;
left: 0;
}


h1 {
  text-align: right;
  font-size: 50px;
  font-feature-settings: "blwm";
}
