body {
    background-color: rgb(219, 135, 161);
    font-family: 'Dancing Script', cursive;
    color: rgb(71, 14, 34);


}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.Card {
    border: 1px solid rgb(136, 16, 90);
    padding: 0px;
    width: 375px;
    margin: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
    background-color: rgb(170, 87, 114);
    border-radius: 25px;
   
}

.specifications {
    font-weight: bold;
    font-size: 18px;
}

.price {
    font-weight: bold;
    font-size: 18px;
   
}
.availability {
    background-color: rgb(194, 134, 164);
    margin: auto;
    padding: 1%;
    font-size: 18px;

    
}

h2 { 
    text-align: center;
    font-size-adjust: 18px;
}

img {
    width: 300px;
    margin: auto;
    display: block; 
}

.Parent {
    position: relative;
    top: 0;
    left: 0;
}
.Image1 { 
    position: relative;
    top: 0;
    left: 0;
}
.Image2{
    position: absolute;
    top: 0;
    left: 0;
}


h1 {
  text-align: right;
  font-size: 60px;
  font-feature-settings: "blwm";

}
